@model HouseFinanceApp.Models.Invite

@{
	ViewBag.Title = "Details";
}

<html>
<body>


	<div class="right_col" role="main">
		<div class="">

			@*<div class="clearfix"></div>*@
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h1>Invite Details <small></small></h1>
							<div class="x_content">

							</div>
							@*<div class="clearfix"></div>*@
						</div>
						<div class="x_content">
							<p class="text-muted font-13 m-b-30">

							</p>

							<div>
								<h4>Invite</h4>
								<hr />
								<dl class="dl-horizontal">
									<dt>
										@Html.DisplayNameFor(model => model.Household.Name)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Household.Name)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.InvitedBy.FirstName)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.InvitedBy.FirstName)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.Email)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Email)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.HHToken)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.HHToken)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.InviteDate)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.InviteDate)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.HasBeenUsed)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.HasBeenUsed)
									</dd>

								</dl>
							</div>
							<p>
								@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
								@Html.ActionLink("Back to List", "Index")
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
</body>
</html>