@model HouseFinanceApp.Models.DashViewModel
@using HouseFinanceApp.Models
@{
	ViewBag.Title = "Index";
}

<html>
<body>
	<div class="right_col" role="main">
		<div class="">
			<div class="row top_tiles">
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
				<div class="count">179</div>*@
						<h3>  @Html.ActionLink("Create New Account", "Create", "PersonalAccounts")</h3>
						<br /><br />
						<h3>  @Html.ActionLink("Index of Accounts", "Index", "PersonalAccounts")</h3>
						<p>Lorem ipsum psdea itgum rixt.</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-comments-o"></i></div>
				<div class="count">179</div>*@
						<h3>@Html.ActionLink("Create New Household", "CreateHousehold", "Households")</h3>
						<br /><br />
						<h3>@Html.ActionLink("Household Index", "Index", "Households")</h3>
						<p></p>
						<h3>@Html.ActionLink("Household Invite", "Invite", "Invites")</h3>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
				<div class="count">179</div>*@
						<h3>@Html.ActionLink("User/Household Role Manager", "Index", "HouseholdRolesViews")</h3>
						<p>Lorem ipsum psdea itgum rixt.</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
				<div class="count">179</div>*@
						<h3>@Html.ActionLink("Create Transaction", "Create", "Transactions")</h3>
						<p>Lorem ipsum psdea itgum rixt.</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
				<div class="count">179</div>*@
						<h3>@Html.ActionLink("Create Category", "Create", "Categories")</h3>
						<p>Lorem ipsum psdea itgum rixt.</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
				<div class="count">179</div>*@
						<h3>@Html.ActionLink("Create Budget", "Create", "Budgets")</h3>
						<p>Lorem ipsum psdea itgum rixt.</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
				<div class="count">179</div>*@
						<h3>@Html.ActionLink("Create Budget Item", "Create", "BudgetItems")</h3>
						<p>Lorem ipsum psdea itgum rixt.</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
				<div class="count">179</div>*@
						<h3>@Html.ActionLink("My Household", "MyHousehold", "Households")</h3>
						<p>Lorem ipsum psdea itgum rixt.</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						@*<div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
				<div class="count">179</div>*@
						<h3>@Html.ActionLink("Accounts in My Household", "HouseAccounts", "PersonalAccounts")</h3>
						<p>Lorem ipsum psdea itgum rixt.</p>
					</div>
				</div>

				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						<h3>Personal Accounts/Balances</h3>
						<h3>@Html.ActionLink("Index Transactions", "Index", "Transactions") add view for my transactions (logged in user)</h3>
						@foreach (var item in Model.PersonalAccounts)

			{
				if (item.IsDeleted == false)
				{
					<li>
						@Html.DisplayFor(modelItem => item.Name) @*add link to account transactions*@
						@Html.DisplayFor(modelItem => item.Balance)@*add link to account transactions*@

					</li>
	}
}


					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						<h3>Recent Transactions</h3>


						@foreach (var item in Model.Transactions.Take(10))

			{
				if (item.IsDeleted == false)
				{
					<li>
						@Html.DisplayFor(modelItem => item.Date)
						@Html.DisplayFor(modelItem => item.Account.Name)
						@Html.DisplayFor(modelItem => item.Amount)
						@Html.DisplayFor(modelItem => item.Description)
					</li>
	}
}
					</div>
				</div>

				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tile-stats">
						<h3>Personal Accounts/Balances</h3>
						<h3>@Html.ActionLink("Household Transactions", "Index", "Transactions") @*modeify this link add view for house transactions*@</h3>
						@foreach (var item in Model.HouseAccounts)

			{
				if (item.IsDeleted == false)
				{
					<li>
						@Html.DisplayFor(modelItem => item.Name)
						@Html.DisplayFor(modelItem => item.Balance)
					</li>
	}
}



					</div>
				</div>
			
			</div>




			<div class="row">			
				Modify to automatically load hhId for user ID into the fusionchart 
				<div id="myRealTimeApiData">My data displayed in a fusion chart!</div>

			</div>

			@section scripts{
				<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

				<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
				<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

				<!-- Fusion charts-->
				<script src="~/Assets/FusionCharts/js/fusioncharts.js"></script>
				<script  src="~/Assets/FusionCharts/js/fusioncharts.charts.js"></script>
				<script src="~/Assets/FusionCharts/js/fusioncharts.widgets.js"></script>
				<script src="~/Assets/FusionCharts/js/fusioncharts.powercharts.js"></script>
				<script src="~/Assets/FusionCharts/js/themes/fusioncharts.theme.fint.js"></script>


				<script>

        //var uri = '../Api/FinancialPortal/Households/json?id=';
        //var uri2 = '../Api/FinancialPortal/Accounts/json?householdId=';

					@*var uri = '../api/Finance/GetHousehold?Id=';
					var uri2 = '../api/Finance/GetAccounts?hhId=';

        function find() {
            var id = $('#houseNum').val();
            $.getJSON(uri + id)
                .done(function(data) {
                    var jsonObj = $.parseJSON(data);
                    $('#houses').text('Name: ' + jsonObj.Name + ' --> Id: ' + jsonObj.Id);
                })
                .fail(function(jqXhr, textStatus, err) {
                    $('#houses').text('Error: ' + err);
                });
        }

        function findAccounts() {
			var hhId = $('#houseNum2').val();
			$.getJSON(uri2 + hhId)
                .done(function (data) {
                    $.each(data, function (key, item) {
                        //// Add a list item for the product.
                        //$('<li>', { text: formatItem(item) }).appendTo($('#products'));
                        $('#accounts').text('Name: ' + item.Name + "Balance: " + item.Balance);
                    });

                    //var jsonObj = $.parseJSON(data);
                    //$('#accounts').text(data);
                })
                .fail(function(jqXhr, textStatus, err) {
                    $('#accounts').text('Error: ' + err);
                });
        }

        function testCharting() {
            $(".ajaxchart").click(function() {
                var url = '@Url.Action("GetChartDataAjax", "Home")' + '?type=' + $(this).html();
                $.post(url).then(function(response) {
                    $('#chart').empty();
                    new Morris.Bar({
                        element: 'chart',
                        data: response,
                        xkey: 'x',
                        ykeys: ['y'],
                        labels: ['Amount']
                    });
                })
            })

		}*@


@*@private  ApplicationDbContext db = new ApplicationDbContext();*@

   //     $(document).ready(function () {

			//var uri = 'http://ckhousefinanceapi.azurewebsites.net/api/Finance/GetAccountsByHouseForCharts?hhId=';
			//var houseId = db.Households.Find(User.Identity.GetHouseholdId()); //need a different reference, can't call database information
   //         // Send an AJAX request
   //         $.getJSON(uri + houseId).done(function (data) {
   //             // On success, 'data' contains a list of products.
   //             $.each(data, function (key, item) {
   //                 // Add a list item for the product.
   //                 $('<li>', { text: formatItem(item) }).appendTo($('#rawapidata')); //this is for a text list!!! not a chart
   //             });
   //         });
   //     });

   //     function formatItem(item) { return item.Label + ': $' + item.Value; }

		$(document).ready(function () {
			var endpoint = 'http://ckhousefinanceapi.azurewebsites.net/api/Finance/GetAccountsByHouseForCharts?hhId=4';
			var myId = @User.Identity.GetHouseholdId().ToString();
            // Send an AJAX request
            $.getJSON(endpoint + myId).done(function (data) {
                // On success, 'data' contains a list of products.
                //FusionCharts.ready(function () {
                    var revenueChart = new FusionCharts({
                        "type": "column3d",
                        "renderAt": "myRealTimeApiData",
                        "width": "500",
                        "height": "300",
                        "dataFormat": "json",
                        "dataSource": {
                            "chart": {
                                "caption": "Real Time Household data",
                                "subCaption": "Account(s) Summary",
                                "xAxisName": "Name",
                                "yAxisName": " Balances (In USD)",
                                "theme": "fint"
                            },
                            "data": data
                        }
                    });

                    revenueChart.render();
                
            });
        });


				</script>
			}


		</div>
	</div>
	</div>


	</div>
	</div>
	</div>
	<!-- /page content -->


</body>
</html>


